body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #E4E4E4;
    font-size: 16px;
    /* color: #31344B; */
    }
    
    a {
    color: #4E71BA;
    text-decoration: none;
    }
    a:hover, a:active {
        color: #2F55A4;
    }
    img {
        max-width: 100%;
        max-height: auto;
    }
    
    * {box-sizing: border-box;}
    
    /*First we must calculate the percentage for one column: 100% / 12 columns = 8.33%*/
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    /* Always Design for Mobile First */
     /* When the screen (browser window) gets smaller than 768px, each column should have a width of 100%: */
     @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        [class*="col-"] {
          width: 100%;
        }
      }
    
      /*FOR TABLETS*/
      @media only screen and (min-width: 600px) {
        /* For tablets: */
        .col-s-1 {width: 8.33%;}
        .col-s-2 {width: 16.66%;}
        .col-s-3 {width: 25%;}
        .col-s-4 {width: 33.33%;}
        .col-s-5 {width: 41.66%;}
        .col-s-6 {width: 50%;}
        .col-s-7 {width: 58.33%;}
        .col-s-8 {width: 66.66%;}
        .col-s-9 {width: 75%;}
        .col-s-10 {width: 83.33%;}
        .col-s-11 {width: 91.66%;}
        .col-s-12 {width: 100%;}
      }
      /*FOR MOBILE*/
      @media only screen and (max-width: 768px) {
        /* For tablets: */
        .col-sm-1 {width: 8.33%;}
        .col-sm-2 {width: 16.66%;}
        .col-sm-3 {width: 25%;}
        .col-sm-4 {width: 33.33%;}
        .col-sm-5 {width: 41.66%;}
        .col-sm-6 {width: 50%;}
        .col-sm-7 {width: 58.33%;}
        .col-sm-8 {width: 66.66%;}
        .col-sm-9 {width: 75%;}
        .col-sm-10 {width: 83.33%;}
        .col-sm-11 {width: 91.66%;}
        .col-sm-12 {width: 100%;}
      }
    
    
    
    
    /* All these columns should be floating to the left, and have a padding of 15px: */
    [class*="col-"] {
        float: left;
        padding: 15px;
      }
    
      /* The columns inside a row are all floating to the left, and are therefore taken out of the flow 
      of the page, and other elements will be placed as if the columns do not exist. 
      To prevent this, we will add a style that clears the flow: */
      .row::after {
        content: "";
        clear: both;
        display: table;
      }


/* BUTTON - NUEMORPHISM */
      .btn, a.btn {
        padding: 10px 20px 10px 20px;
        color: black;
        outline: none;
        border: none;
        border-radius: 5px;
        text-align: center;
        display: inline-block;
      }
      .btn-bold {
        font-weight: bold;
      }
      .btn-sm {
        padding: 5px 10px 5px 10px;
        font-size: 13px;
      }
      .btn-md {
        padding: 10px 20px 10px 20px;
      }
      .btn-lg, a.btn-lg {
        padding: 15px 25px 15px 25px;
        font-size: 20px;
      }
      .btn-xl,a.btn-xl {
        padding: 20px 30px 20px 30px;
        font-size: 25px;
      }

    


/* NEUMORPISM CLASSES */
.neu-default {
background: #e4e4e4;
box-shadow:  5px 5px 10px #929292, 
             -5px -5px 10px #ffffff;
}
.neu-default-alert {
  background: #E3E3E3;
  box-shadow: inset 20px 20px 42px #dadada, 
              inset -20px -20px 42px #ececec;
}
.neu-default.active-only {
  background: inherit;
  box-shadow: none;
  }
.neu-default.active {
  background: #e4e4e4;
  box-shadow: inset 5px 5px 10px #929292, 
              inset -5px -5px 10px #ffffff;
}
.neu-default.btn-primary {
  color: #2F55A4;
}


.btn-flat {
  box-shadow: none;
}
.btn-form {
  display: block;
  width: 100%;
}
.btn-circle, a.btn-circle {
  border-radius: 50%;
}
.btn-flat.btn-primary {
  background-color: #4E71BA;
  color: white;
}
.btn-flat.btn-primary:hover, a.btn-flat.btn-primary:hover {
  background-color: #2F55A4;
  color: white;
}
.btn.btn-flat.btn-white, a.btn.btn-flat.btn-white {
  background-color: white;
  color: #2F55A4;
}
.btn.btn-flat.btn-white:hover, a.btn.btn-flat.btn-white:hover {
  color: #2F477A;
  background-color: #dfdfdf;
}





    /* NAVBAR */
    .navbar {
        height: 60px;
        padding: 5px;
        padding-left: 10px;
        border-radius: 0px;
        background: #e3e3e3;
        border-bottom: 1px solid #dfdfdf;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        box-shadow: grey 2px 2px 5px;
        z-index: 999;
    }
 
    .navbar .site-identity {
        display: inline-block;
        vertical-align: middle;
    }
    .navbar .site-identity a {
        color: black;
        font-size: 30px;
        font-weight: bold;
        display: block;
        padding: 5px 20px 5px 20px;
        
    }
    .navbar .navbar-menu-btn {
        float: right;
        padding: 6px 10px 6px 10px;
        font-weight: bold;
        font-size: 30px;
        color: black;
        border: none;
        outline: none;
        margin-right: 10px;
        border-radius: 8px;
    }


    .navbar .navbar-menus {
      position: absolute;
      width: 100%;
      top: 60px;
      left: 0;
      padding: 10px 10px 20px 10px;
      background-color: #E4E4E4;
      list-style-type: none;
      margin: 0;
      display: none;
      overflow: auto;
      overflow-y: auto;
      height: calc(100vh - 60px);
  }
  .navbar .navbar-menus > li {
    padding: 0;
    margin: 5px;
  }
  .navbar .navbar-menus li > a {
    margin: 10px 0px;
    border-radius: 10px;
    /* font-size: 18px; */
  }

  .navbar .navbar-menus li > a, .navbar .navbar-menus > a {
    padding: 12px;
    display: block;
    color: #2F477A;
    font-weight: 600;
  }
  .navbar .navbar-menus li a .fa-caret-down {
    /* float: right; */
    color: black;
  }

  .navbar .navbar-menus .btn, .navbar .navbar-menus a.btn {
    margin: 15px 50px 5px 50px;
    border-radius: 10px;
    font-weight: bold;

  }
  .navbar .navbar-menus li ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0px 2px 30px;
    display: none;
  }
  .navbar .navbar-menus li ul li a {
    padding: 10px;
    display: block;
    font-weight: normal;
  }
  .navbar .navbar-menus li ul li.li-content a {
    display: grid;
    grid-template-columns: 40px auto;
    padding: 5px;
  }
  .navbar .navbar-menus li ul li.li-content a h4 {
    font-size: 18px;
  }
  .navbar .navbar-menus li ul li.li-content a > div:first-child {
    padding-top: 40px;
  }
  .navbar .navbar-menus li ul li.li-content a p {
    color: grey;
    font-weight: normal;
  }
  .navbar .navbar-menus li ul {
    padding: 0;
  }
  .navbar .navbar-menus li ul li.li-content, .navbar .navbar-menus li ul li > a {
    margin: 0;
    border-radius: 0;
  }
  

  .navbar + .web-container {
    padding-top: 60px;
  }
  .navbar.home:not(.navbar-style) {
    background: none;
    border-bottom: none;
    box-shadow: none;
  }
  .navbar.home:not(.navbar-style) .site-identity a {color: white;}
  .navbar.home:not(.navbar-style) .navbar-menu-btn {
    background: none;
    color: white;
    box-shadow: none;
  }


  .home-intro {
    background-color: none;
    /* background-image: url(../images/home-intro-02.png); */
    /* background-size: cover; */
    height: auto;
    color: #31344B;
    padding-bottom: 50px;
  }
  .home-intro .intro {
    text-align: center;
    margin-top: 0px;
    line-height: 35px;
    padding: 20px;
  }
  .home-intro .intro .btn {
    line-height: normal;
  }
  .home-intro .intro h1 {
    font-size: 25px;
  }

  .container {
    margin: 20px 10px;
    padding: 10px;
    border-radius: 5px;
  }
  .no-radius {
    border-radius: 0;
  }


  .our-app {
    text-align: center;
  }
  .our-app img {
    width: 100%;
    height: auto;
  }
  .our-app a {
    padding: 10px;
    display: block;
    margin: 5px 5px;
  }
  .container.service {
    text-align: center;
  }
  .container.no-margin {
    margin: 10px 0px;
  }
  .center-text {
    text-align: center;
  }
  .container.open-account {
    background-color: #000030;
    color: white;
    padding-bottom: 30px;
  }

















  .footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .footer ul li {
    padding: 10px;
    margin: 0;
    border-radius: 5px;
  }
  .footer ul li a {
    display: block;
  }
  .footer a {
    color: rgb(94, 93, 93);
  }
  .footer a:hover {
    color: rgb(24, 23, 23);
  }
  .footer .copyright {
    text-align: center;
    padding: 10px 10px 30px 10px;
  }



  .form-heading {
    text-align: center;
  }
  .form-sub-heading {
    text-align: center;
    font-weight: normal !important;

  }

  .form-group {
    padding: 10px;
  }



  .neu-form-control {
background: #E4E4E4;
box-shadow: inset 5px 5px 10px #b6b6b6, 
            inset -5px -5px 10px #ffffff;

  }
  .neu-form-control:focus {
background: #E4E4E4;
box-shadow: inset 5px 5px 24px #b6b6b6, 
            inset -5px -5px 24px #ffffff;
  }
  .form-control {
    border: none;
    outline: 0;
    padding: 10px;
    font-size: 18px;
    color: black;
    border-radius: 5px;
  }
  .form-control-full {
    width: 100%;
    display: block;
    margin: 5px 0px;
  }
  .form-control.neu-default:disabled, .neu-form-control:disabled {
    color: black;
    box-shadow: none;
    border: 1px solid rgb(201, 201, 201);
  }
  
  

  .btn-check {
    position: relative; 
    padding-left: 45px; 
    margin-bottom: 15px; 
    cursor: pointer;
} 
  
/* Hide the default checkbox */ 
.btn-check input[type=checkbox] { 
    visibility: hidden; 
} 
  
/* Creating a custom checkbox 
based on demand */ 
.btn-check .mark { 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 20px; 
    width: 20px;
    border: 1px solid rgb(182, 179, 179);
    border-radius: 5px;
    background: #E4E4E4;
box-shadow: inset 5px 5px 10px #b6b6b6, 
            inset -5px -5px 10px #ffffff;
} 
  

.btn-check input:checked ~ .mark { 
  background: #E4E4E4;
  box-shadow: inset 5px 5px 24px #b6b6b6, 
              inset -5px -5px 24px #ffffff; 
} 
  
/* Checkmark to be shown in checkbox */ 
/* It is not be shown when not checked */ 
.btn-check .mark:after { 
    content: ""; 
    position: absolute; 
    display: none; 
} 
  
/* Display checkmark when checked */ 
.btn-check input:checked ~ .mark:after { 
    display: block; 
} 
  
/* Styling the checkmark using webkit */ 
/* Rotated the rectangle by 45 degree and  
showing only two border to make it look 
like a tickmark */ 
.btn-check .mark:after { 
    left: 6px; 
    bottom: 5px; 
    width: 5px; 
    height: 10px; 
    border: solid black; 
    border-width: 0 2px 2px 0; 
    -webkit-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    transform: rotate(45deg); 
} 

.form-group-grid {
  display: grid;
  grid-template-columns: auto auto;
}


.input-group {
  display: table;
  border-collapse: collapse;
  width:100%;
  margin: 5px 0px;
}
.input-group > div {
  display: table-cell;
  vertical-align: middle;  /* needed for Safari */
}
.input-group-icon {
  color: rgb(54, 52, 52);
  padding: 0 12px;
  border-radius: 5px 0px 0px 5px;
  background: linear-gradient(145deg, #f4f4f4, #cdcdcd);
}
.input-group-area {
  width:100%;
}
.input-group-area .form-control {
  border-radius: 0px 5px 5px 0px;
}
.input-group input{
  border: 0;
  display: block;
  width: 100%;
  padding: 10px;
}
.input-group input.no-radius {
  border-radius: 0px;
}
.container.login-container {
  padding: 5px;
}

.form-error {
  color: #A91E2C;
  text-align: right;
  font-size: 13px;
}
.alert {
  border-radius: 10px;
  padding: 1px 15px;
  margin: 10px;
  font-size: 14px;
}
.alert .close, .alert a.close {
  float: right;
  font-size: 30px;
  font-weight: bold;
}
.alert.alert-danger {
  color: #A91E2C;
}
.alert.alert-danger a.close {color: #A91E2C;}
.alert.alert-danger a.close:hover {color: black;}
/* success alert */
.alert.alert-success {
  color: #8aa104;
}
.alert.alert-success a.close {color: #8aa104;}
.alert.alert-success a.close:hover {color: black;}

.balance-div h2 {
  font-weight: normal;
  margin: 5px;
}
.balance-div h2.balance {
  font-weight: bolder;
}

.page-heading {
  margin-left: 20px;
  color: rgb(63, 62, 62);
}
.quick-deal > a {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  padding: 10px;
  margin: 15px 10px;
  align-items: center;
  font-weight: bold;
}

.quick-deal > a span {
  padding-top: 2px;
  padding-left: 10px;
}

.deals > a {
  display: block;
  margin: 20px 10px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.deals > a h3 {
  margin: 8px auto;
}

.recent-transactions .heading, .stats .heading {
  margin-top: 0;
}
.no-query {
  padding: 20px;
  text-align: center;
  /* font-weight: bold; */
  color: grey;
}
.stats ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.stats ul li {
  padding: 0;
  margin: 20px 0px;
  display: grid;
  justify-content: left;
  grid-template-columns: 30px auto;
  color: rgb(56, 55, 55);
}
.stats ul li h5 {
  font-weight: normal;
  margin: 5px;
}
.stats ul li h4 {
  margin: 5px;
}
.stats ul li img {
  height: 30px;
  width: 30px;
}


.user-profile-pic {
  text-align: center;
}
.user-profile-pic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.user-profile-pic .btn {
  display: block;
}


form label.error {
  text-align: right;
  display: block;
  color: #A91E2C;
  font-size: 13px;
}

.btn-file input {
  display: none;
}