<%- include("header"); %> 

<h1 class="heading">Dashboard</h1>

<div class="container no-radius neu-default no-active balance-div">
    <h2>Balance</h2>
    <h2 id="balance" class="balance">N0.00</h2>
</div>

<div class="quick-deal">
    <a class="neu-default" href=""><img src="images/gift_card_30px.png"> <span>Gift Cards</span></a>
    <a class="neu-default" href=""><img src="images/gift_card_30px.png"> <span>Gift Cards</span></a>
</div>

<%- include("footer"); %> 