<%- include("header"); %> 

<h1 class="page-heading">Dashboard</h1>

<div class="container neu-default no-active balance-div">
    <h2>Balance</h2>
    <h2 id="balance" class="balance">N0.00</h2>
</div>

<div class="quick-deal">
    <a class="neu-default" href="javascript:void(0);"><img src="images/gift_card_30px.png"> <span>Gift Cards</span></a>
    <a class="neu-default" href="javascript:void(0);"><img src="images/bitcoin_30px.png"> <span>Trade BTC</span></a>
    <a class="neu-default" href="javascript:void(0);"><img src="images/icons8_topup_payment_30px.png"> <span>Buy Airtime</span></a>
</div>

<div class="deals">
    <a class="neu-default no-active" href="javascript:void(0);">
        <img src="images/icons8_gift_100px.png">
        <h3>Gift Cards</h3>
        <button class="btn btn-primary neu-default">Trade Now</button>
    </a>
    <a class="neu-default no-active" href="javascript:void(0);">
        <img src="images/icons8_bitcoin_100px.png">
        <h3>Bitcoin</h3>
        <button class="btn btn-primary neu-default">Trade Now</button>
    </a>
    <a class="neu-default no-active" href="javascript:void(0);">
        <img src="images/icons8_sms_100px.png">
        <h3>Airtime/Bills</h3>
        <button class="btn btn-primary neu-default">Trade Now</button>
    </a>
    <a class="neu-default no-active" href="javascript:void(0);">
        <img src="images/icons8_handshake_100px.png">
        <h3>Deals</h3>
        <button class="btn btn-primary neu-default">Trade Now</button>
    </a>
</div>

<div class="recent-transactions container neu-default no-active">
    <h3 class="heading">Recent Transactions</h3>
    <div class="no-query">No recent transactions</div>
</div>

<div class="stats container neu-default no-active">
    <h3 class="heading">Stats</h3>
    <ul>
        <li>
            <img src="images/icons8_data_pending_20px.png">
            <div class="side">
                    <h5><a href="">PENDING TRANSACTIONS</a></h5>
                    <h4>0</h4>
            </div>
        </li>
        <li>
            <img src="images/icons8_ok_20px.png">
            <div class="side">
                    <h5><a href="">PAID TRANSACTIONS</a></h5>
                    <h4>0</h4>
            </div>
        </li>
        <li>
            <img src="images/icons8_cancel_20px.png">
            <div class="side">
                    <h5><a href="">DECLINED TRANSACTIONS</a></h5>
                    <h4>0</h4>
            </div>
        </li>
        <li>
            <img src="images/icons8_wallet_20px.png">
            <div class="side">
                    <h5><a href="">AMOUNT IN WALLET</a></h5>
                    <h4>0</h4>
            </div>
        </li>
    </ul>
</div>

<%- include("footer"); %> 