
</div><!--end of web-container class-->
<footer class="footer">


    <div class="row">
        <div class="col-4 col-sm-6">
            <h3>Account</h3>
            <ul>
                <li class="neu-default active-only"><a href="javascript:void(0);">My Account</a></li>
                <li class="neu-default active-only"><a href="javascript:void(0);">Settings</a></li>
                <li class="neu-default active-only"><a href="javascript:void(0);">Messages</a></li>
                <li class="neu-default active-only"><a href="/register">Sign up</a></li>
                <li class="neu-default active-only"><a href="/login">Sign in</a></li>
            </ul>
        </div>
        <div class="col-4 col-sm-6">
            <h3>Product</h3>
            <ul>
                <li class="neu-default active-only"><a href="javascript:void(0);">Gift Cards</a></li>
                <li class="neu-default active-only"><a href="javascript:void(0);">Bitcoin</a></li>
                <li class="neu-default active-only"><a href="javascript:void(0);">Airtime & Subscription</a></li>
            </ul>
        </div>
        <div class="col-4">
            <h3>Compnay</h3>
            <ul>
                <li class="neu-default active-only"><a href="javascript:void(0);">Contact</a></li>
                <li class="neu-default active-only"><a href="javascript:void(0);">Learn</a></li>
                <li class="neu-default active-only"><a href="javascript:void(0);">About us</a></li>
                <li class="neu-default active-only"><a href="javascript:void(0);">Rates</a></li>
                <li class="neu-default active-only"><a href="javascript:void(0);">Blog</a></li>
                <li class="neu-default active-only"><a href="javascript:void(0);">Privacy & Policy</a></li>
            </ul>
        </div>

        
    </div>

<div class="copyright">Copyright &copy; xChange 2020. All rights reserved.</div>
</footer>
</body>
</html>