<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xChange &laquo; <%= page.title %> </title>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body>

<nav id="navbar" class="navbar <% if (locals.page.name == "home") { %> <%= "xhome" %><% } %>">
        <div class="site-identity">
            <a href="/">xChange</a>
        </div>
        <ul id="navbar-menus" class="navbar-menus">
            <li><a href="javascript:void(0);" class="neu-default">Products <i class="fa fa-caret-down"></i></a>
                <ul class="neu-default">
                    <li class="li-content neu-default active-only">
                        <a href="javascript:void(0);">
                            <div><img src="images/gift_card_30px.png"></div>
                            <div>
                                <h4>Giftcards</h4>
                                <p>Buy and Sell Giftcards at cheap rate.</p>
                            </div>
                        </a>
                    </li>
                    <li class="li-content neu-default active-only">
                        <a href="javascript:void(0);">
                            <div><img src="images/bitcoin_30px.png"></div>
                            <div>
                                <h4>Bitcoin</h4>
                                <p>Fast Bitcoin trading. Buy and Sell.</p>
                            </div>
                        </a>
                    </li>
                    <li class="li-content neu-default active-only">
                        <a href="javascript:void(0);">
                            <div><img src="images/icons8_topup_payment_30px.png"></div>
                            <div>
                                <h4>Airtime/Subscription</h4>
                                <p>Pay for Airtime, Bills, and Subscription</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <% if (current_user.logged) { %>
            <li><a href="javascript:void(0);" class="neu-default">Messages</a></li>
            <li><a href="javascript:void(0);" class="neu-default">My Account <i class="fa fa-caret-down"></i></a>
                <ul class="neu-default no-active">
                    <li><a href="/dashboard" class="neu-default active-only">Dashboard</a></li>
                    <li><a href="/profile" class="neu-default active-only">Profile</a></li>
                    <li><a href="javascript:void(0);" class="neu-default active-only">Transactions</a></li>
                    <li><a href="javascript:void(0);" class="neu-default active-only">Wallet</a></li>
                    <li><a href="javascript:void(0);" class="neu-default active-only">Logout</a></li>
                </ul>
            </li>
            <% } %>
            <li><a href="javascript:void(0);" class="neu-default">Rates Calc.</a></li>
            <% if (!current_user.logged) { %><li><a href="/login" class="neu-default">Sign in</a></li><% } %> 
            <li><a href="javascript:void(0);" class="neu-default">Blog</i></a></li>
            <li><a href="javascript:void(0);" class="neu-default">Help</i></a></li>
            <% if (!current_user.logged) { %><a href="/login" class="btn btn-primary neu-default btn-primary btn-bold">Get Started</a> <% } %> 

        </ul>
        <button id="navbar-menu-btn" class="navbar-menu-btn neu-default"><i class="fa fa-bars"></i></button>
    </nav>

    <div class="web-container">