<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CurrencyExchange App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <script src="js/script.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-identity">

        </div>
        <div class="navbar-menus"></div>
        <button class="navbar-menu-btn"><i class="fa fa-bars"></i></button>
    </nav>