<%- include("header") %>

<div class="home-intro">
    <div class="intro">
        <h1>Let's exchange your lucky card. <br><br> Sell & Buy Bitcoin <br><br> All at cheaper rate.</h1>
        <a href="" class="btn neu-default btn-primary btn-lg btn-bold">Get Started</a>
    </div>
</div>
<!-- <div class="container neu-default no-active" style="text-align: center;">
    <h1>More and More title</h1>
    <h3>More and more content</h3>
</div> -->
<div class="container neu-default no-active our-app">
    <h1>Download our App</h1>
    <h3>and trade on the go</h3>
    <a href=""><img src="images/apple-store.png"></a>
    <a href=""><img src="images/play-store.png"></a>
</div>


<div class="container neu-default no-active service">
    <h1>Buy & Sell Giftcards</h1>
    <p>Trade GiftCards from everywhere in the world and get your sweet cash within minutes.</p>
    <a href="" class="btn neu-default btn-primary btn-bold ">Get Started</a>
</div>

<div class="container neu-default no-active service">
    <h1>Buy & Sell Bitcoin</h1>
    <p>Trade GiftCards from everywhere in the world and get your sweet cash within minutes.</p>
    <a href="" class="btn neu-default btn-primary btn-bold ">Get Started</a>
</div>

<div class="container no-margin center-text no-radius open-account">
    <h1>Create a Free Account Now</h1>
    <a href="" class="btn btn-flat btn-white">Get Started</a>
</div>





<%- include('footer') %> 