<%- include("header"); %> 


<div class="container neu-default no-active login-container">
    <form action="/register" method="POST">
        <h2 class="form-heading">Create an Account</h2>
        <h5 class="form-sub-heading">Create an Account here using your email and password</h5>

        <div class="form-group">
            <label>Username</label>
            <div class="input-group">
                <div class="input-group-icon"><i class="fa fa-user"></i></div>
                <div class="input-group-area"><input class="form-control neu-form-control" type="text" name="username" placeholder="Username" required></div>
            </div>
        </div>
        <div class="form-group">
            <label>Your email</label>
            <div class="input-group">
                <div class="input-group-icon"><i class="fa fa-at"></i></div>
                <div class="input-group-area"><input class="form-control neu-form-control" type="email" name="email" placeholder="Email" required></div>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <div class="input-group">
                <div class="input-group-icon"><i class="fa fa-unlock-alt"></i></div>
                <div class="input-group-area"><input class="form-control neu-form-control" type="password" name="password" placeholder="Password" required></div>
            </div>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <div class="input-group">
                <div class="input-group-icon"><i class="fa fa-unlock-alt"></i></div>
                <div class="input-group-area"><input class="form-control neu-form-control" type="password" name="confirm-password" placeholder="Password" required></div>
            </div>
        </div>
        <div class="form-group">
            <label class="btn-check">I agree to the terms and conditions <input type="checkbox" name="privacy" required><span class="mark"></span></label>
        </div>

        <div class="form-group">
            <button type="submit" class="btn neu-default btn-form">Sign up</button>
        </div>
        <div class="form-group" style="text-align: center;">
            <div style="margin: 5px;">or sign up with</div>
            <a class="btn neu-default btn-circle" href="javascript:void(0);" style="color: #28589C; margin: 5px; padding: 18px 23px;"><i class="fa fa-facebook"></i></a>
            <a class="btn neu-default btn-circle" href="javascript:void(0);" style="color: #E4000F; margin: 5px; padding: 18px 21px;"><i class="fa fa-google"></i></a>
        </div>
        <div class="form-group" style="text-align: center;">
            <b>Have an account?</b> <a href="/login">Sign in</a>
        </div>
    </form>
</div>



<%- include("footer"); %> 